@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v21-latin-200.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); 
}

@layer base {

  :root {
    --radius: 0.5rem
  }

  html {
    @apply scroll-smooth
  }

  body {
    @apply font-poppins bg-primary text-primaryAccent
  }

  .nav-list {
    position: relative;
    list-style: none;
    padding: 1px 6px;
    margin: 4px;
    /* background-color: #f9f9f9; */
    border: 3px solid transparent; 
    border-radius: 10px; 
    transition: border-image 250ms ease-in-out;
    cursor: pointer;
  }

  .nav-list:hover {
      border-image: linear-gradient(
          135deg,        
          red 25%,       
          transparent 25%, 
          transparent 75%, 
          blue 75%       
      ) 1;
  }

}